body {
  background-color: rgb(228, 226, 213);
  text-align: center;
  padding-top: 1%;
}

::placeholder {
  text-align: center;
}

input, textarea, button {
  padding: .75%;
}

.jumbotron {
  background-color:  rgb(218, 218, 211);
  border-style: solid;
  border-color: rgb(172, 172, 165);
}

.userName {
  float: left;
  margin-top: -5%;
}